{% extends 'layout.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="registration-container">
        <img class="registration-login-img" alt="Register" src="{{ asset('register.png') }}"/>
        <h1>Inscription</h1>

        <div class="registration-form">
            {{ form_start(registrationForm) }}
            <div>
                {{ form_row(registrationForm.email) }}
            </div>
            <div>
                {{ form_row(registrationForm.username) }}
            </div>
            <div>
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>
            <div>
                <button type="submit" class="btn">Register</button>
            </div>
            {{ form_end(registrationForm) }}
            <p>Déjà un compte ? </p>
            <a href={{ path('app_login') }}>{{ "Connexion"|upper }}</a>
        </div>
    </div>
{% endblock %}
