<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Catz{% endblock %}</title>

        <link rel="icon" href={{ asset("favicon.ico") }} />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href={{ asset("css/app.css") }}>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="logo-container">
                    <a href={{ path("home")}}>
                        <img class="logo" src={{ asset("logo.png") }}>
                    </a>
                    <h1>Catz</h1>
                </div>
                <nav class="nav-bar">
                    <input
                            name="keyword"
                            id="keyword"
                            placeholder="Rechercher"
                            class="search-input"
                            data-ajax-url="{{ url('api_search') }}"
                    />
                    <div id="results"></div>
                    {% if app.user %}
                        <div class="nav-bar-user">
                            {#href={{ path('cart') }}#}
                            <a class="nav-bar-cart">
                                <img class="cart" src={{ asset("supermarket.png") }}>
                            </a>
                            <a href={{ path('app_logout') }}>{{ "Déconnexion"|upper }} ({{ app.user.username }})</a>
                        </div>
                    {% else %}
                        <a href={{ path('user_register') }}>{{ "Inscription/Connexion"|upper }}</a>
                    {% endif %}
                </nav>
            </header>
            {% block body %}
            {% endblock %}
            <a href="{{ path('cat_add') }}" title="Ajouter une annonce" class="add-button">
                <img src="{{ asset('add.png') }}"/> Ajouter une annonce
            </a>
        </div>
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
